/*------------------------------------------------
	Base Styles
-------------------------------------------------*/
body {
  font-family: "Libre Baskerville", monospace;
  font-weight: 400;
  font-size: 50px;
  line-height: 30px;
  color: #b22222;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover, a:focus {
  color: #ababab;
  text-decoration: none;
  outline: 0 none;
}

h1, h2, h3,
h4, h5, h6 {
  color: #1e2530;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  line-height: 1.3;
}

p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

/*
 * Selection color
 */
::-moz-selection {
  background-color: #FA6862;
  color: #fff;
}

::selection {
  background-color: #FA6862;
  color: #fff;
}

/*
 *  Reset bootstrap's default style
 */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

.form-control:-moz-placeholder,
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: inherit;
}

.form-control::-moz-placeholder,
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: inherit;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

button, input, select,
textarea, label {
  font-weight: 400;
}

.btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:hover, .btn:focus, .btn:active:focus {
  outline: 0 none;
}

.btn-primary {
  background-color: #FA6862;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 48px;
  line-height: 50px;
  padding: 0 42px;
  text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  background-color: #f9423a;
}

.btn-border {
  border: 1px solid #d7d8db;
  display: inline-block;
  padding: 7px;
}

/*
 *  CSS Helper Class
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.pt-table {
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 4px);
  height: -moz-calc(100vh - 4px);
  height: calc(100vh - 4px);
}

.pt-tablecell {
  display: table-cell;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.primary,
.link:hover {
  color: #FA6862;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.nicescroll-cursors {
  background: #FA6862 !important;
}

.preloader {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.preloader.active.hidden {
  display: none;
}

.loading-mask {
  background-color: #FA6862;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
  -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
}
.loading-mask:nth-child(2) {
  left: 20%;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.loading-mask:nth-child(3) {
  left: 40%;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.loading-mask:nth-child(4) {
  left: 60%;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.loading-mask:nth-child(5) {
  left: 80%;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.preloader.active.done {
  z-index: 0;
}
.preloader.active .loading-mask {
  width: 0;
}

/*------------------------------------------------
	Start Styling
-------------------------------------------------*/
.site-wrapper {
  border-top: 4px solid #FA6862;
}

.page-close {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 100;
}

.page-title {
  margin-bottom: 75px;
}
.page-title img {
  margin-bottom: 20px;
}
.page-title h2 {
  font-size: 68px;
  margin-bottom: 25px;
  position: relative;
  z-index: 0;
  font-weight: 900;
  text-transform: uppercase;
}
.page-title p {
  font-size: 16px;
}
.page-title .title-bg {
  color: rgba(30, 37, 48, 0.07);
  font-size: 158px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section-title {
  margin-bottom: 20px;
}
.section-title h3 {
  display: inline-block;
  position: relative;
}
.section-title h3::before, .section-title h3::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 8px;
  left: -webkit-calc(100% + 14px);
  left: -moz-calc(100% + 14px);
  left: calc(100% + 14px);
}
.section-title h3::before {
  background-color: #1e2530;
  width: 96px;
  bottom: 14px;
}
.section-title h3::after {
  background-color: #FA6862;
  width: 73px;
}
.section-title.light h3 {
  color: #fff;
}
.section-title.light h3::before {
  background-color: #fff;
}

.page-nav {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
}
.page-nav span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
}

/*------------------------------------------------
    Home Page
-------------------------------------------------*/
.page-home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.page-home .overlay {
  background-color: rgba(255, 255, 255, 0.93);
}

/* End of container */


.
/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/
.author-image-large {
  position: absolute;
  right: 0;
  top: 0;
}
.author-image-large img {
  height: -webkit-calc(100vh - 4px);
  height: -moz-calc(100vh - 4px);
  height: calc(100vh - 4px);
}


/* =================================== */
/*  Color Switcher
/* =================================== */
.preview-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: 0;
  color: #333;
  height: 200px;
  right: 0px;
  position: fixed;
  top: 100px;
  width: 260px;
  z-index: 1200;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  transform: translateX(100%);
}

.preview-wrapper.extend {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.switcher-head {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  height: 46px;
  line-height: 46px;
  position: relative;
}

.switcher-head span {
  border-bottom: 2px solid #eeeeee;
  display: block;
  margin: 0 20px;
}

.switcher-trigger {
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: 0;
  cursor: pointer;
  font-size: 20px;
  height: 48px;
  left: -48px;
  line-height: 46px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 48px;
}

.switcher-body {
  background-color: #fff;
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 47px;
  outline: none;
}

.switcher-body h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.switcher-body select {
  border: 1px solid #e5e5e5;
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
  -webklit--appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.color-options {
  margin-bottom: 10px;
  padding: 0;
}

.color-options li {
  display: inline-block;
  background-color: #e6ae03;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 6px;
  text-indent: -9999em;
  width: 30px;
  cursor: pointer;
}

.color-options li.c0 {
  background-color: #FA6862;
}

.color-options li.c1 {
  background-color: #02B7CE;
}

.color-options li.c2 {
  background-color: #86A438;
}

.color-options li.c3 {
  background-color: #F3A36D;
}

.pattern-options li {
  font-family: "Roboto", sans-serif;
  border: 1px solid #cccccc;
  cursor: pointer;
  float: left;
  height: 40px;
  margin: 0 10px 10px 0;
  text-transform: capitalize;
  width: 50px;
}

.pattern-options li:last-child {
  border: 0 none;
  height: auto;
  padding-top: 8px;
  width: auto;
}

.pattern-options li img {
  width: 100%;
  height: 100%;
}

/*------------------------------------------------
	Responsive Media Queries
-------------------------------------------------*/
/*============================================================
	Macbook pro 13 inch
==============================================================*/
/*============================================================
	For Small Desktop / tablet landscape
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
  .author-image-large img {
    height: -webkit-calc(80vh - 4px);
    height: -moz-calc(80vh - 4px);
    height: calc(80vh - 4px);
  }

  .testimonials .thumb {
    margin-top: -8px;
  }
}
/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
  body {
    overflow-x: hidden;
  }

  .page-title h2 {
    font-size: 40px;
  }
  .page-title .title-bg {
    font-size: 100px;
  }

  .author-image-large {
    position: static;
    margin-bottom: 50px;
  }
  .author-image-large img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 50%;
  }

  .about-author + p {
    margin-bottom: 50px;
  }

  .service-hex {
    width: 33.3333%;
  }
  .service-hex:hover {
    z-index: 2;
  }
  .service-hex:hover svg {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  .service-hex:hover .content {
    width: 105%;
  }
  .service-hex:nth-child(4), .service-hex:nth-child(5) {
    -webkit-transform: translate(50%, -15%);
    -moz-transform: translate(50%, -15%);
    -ms-transform: translate(50%, -15%);
    -o-transform: translate(50%, -15%);
    transform: translate(50%, -15%);
  }

  .testimonials .item {
    padding-top: 45px;
  }
  .testimonials .thumb {
    margin-top: -45px;
  }

  .history-item .history-text {
    padding-right: 15px;
  }
}
/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .pt-table {
    height: auto;
  }

  .pt-table,
  .pt-tablecell {
    display: block;
  }

  .page-title {
    margin-bottom: 45px;
  }
  .page-title h2 {
    font-size: 35px;
  }
  .page-title .title-bg {
    font-size: 50px;
  }

  


  
}
